## Arithmetic

In [1]:
2 + 1

3

In [2]:
2 - 1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

In [5]:
7//4

1

In [6]:
7%4

3

In [7]:
2**3

8

In [8]:
4**0.5

2.0

In [9]:
2 + 10 * 10 + 3

105

In [10]:
(2+10) * (10+3)

156

## Variable Assignments

In [11]:
a = 5

In [12]:
a+a

10

In [13]:
a = 10

In [14]:
a

10

In [15]:
a

10

In [16]:
a = a + a

In [17]:
a

20

#### variable naming convention
1. Names can not start with a number
2. There can be no spaces in the name, use _ instead
3. Can't use any of these symbols: '",<>/?|\()!@#$%^&*~-+
4. Considered best practice that names are lowercase
5. Avoid using that characters 'l' (lowercase el), 'o' (lowercase oh), or 'I' (upercase eye) as single character variable names
6. Avoid using reserved names (names that have special meaning in python) such as 'list' and 'str'

In [18]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate
my_taxes

10.0

### Dynamic Typing
Python uses dynamic typing, meaning you can reassign variables to different data types.
#### Pros and cons of dynamic typing
##### Pros:
- Very easy to work with
- Faster development time

##### Cons:
- May result in unexpected bugs
- You need to be aware of `type()`

In [19]:
my_dogs = 2

In [20]:
my_dogs

2

In [21]:
my_dogs = ['Sammy', 'Frankie']

In [22]:
my_dogs

['Sammy', 'Frankie']

#### Determining variable type with `type()`
- int (integer)
- float
- str (for string)
- list
- tuple
- dict (dictionary)
- set
- bool (boolean)

In [24]:
a

20

In [25]:
type(a)

int

In [26]:
a = (1,2)

In [27]:
type(a)

tuple