# Objects and Data Structures Assessment Test

## Test your knowledge.
#### Answer the following questions

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numeric literals. Integers are whole numbers, postivie or negative. Floating point numbers have a decimal point in them or use an exponential (e) to define the number.

Strings: A sequence of characters used to record text information constructed with "".

Lists: The most general form of a sequence constructed with brackets and commas separating each element. They are mutable. 

Tuples: Similar to lists however they are immutable. Constructed with () with elements separated by commas. 

Dictionaries: Collection of objects that are stored by a key. Unlike a sequence which stores objects by their relative location, dictionaries do not retain order. Constructed with {} with a : separating key value pairs.

## Numbers
Write an equation that uses multiplication, division, an exponent, and subtraction that is equal to 100.25

In [1]:
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.
- What is the value of the expression 4*(6+5)
- What is the value of the expression 4*6+5
- What is the value of the expression 4+6*5

- Answer 1: 44
- Answer 2: 29
- Answer 3: 34

In [5]:
# Check
print(4*(6+5))
print(4*6+5)
print(4+6*5)

44
29
34

What is the _type_ of the result of the expression 3+1.5+4?

In [42]:
# Answer: Float

What would you use to find a number's square root as well as it's square?

In [7]:
# Square root: x**0.5
# Square: x**2

## Strings
Given the string 'hello' give an index command that returns 'e'

In [8]:
s = 'hello'
# print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [13]:
s = 'hello'
# reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing

In [14]:
s = 'hello'
# Print out the 'o'
# Method 1:
s[4]

'o'

In [15]:
# Method 2:
s[-1]

'o'

## Lists
Build this list [0,0,0] two separate ways.

In [17]:
# Method 1: 
[0]*3

[0, 0, 0]

In [18]:
# Method 2:
list_2 = [0,0,0]
list_2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [20]:
list_3 = [1,2,[3,4,'hello']]
list_3[2][2] = 'goodbye'
list_3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [22]:
list_4 = [5,3,4,6,1]
list_4.sort()
list_4

[1, 3, 4, 5, 6]

## Dictionaries
Using keys an indexing, grab the 'hello' from the following dictionaries:

In [23]:
d = {'simple_key':'hello'}
# grab 'hello'
d['simple_key']

'hello'

In [25]:
d = {'k1':{'k2': 'hello'}}
# grab 'hello'
d['k1']['k2']

'hello'

In [28]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [36]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

# Grab hello
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

Answer: No you cannot. Dictionaries, unlike sequences do not store their objects by relative position, but by keys so they do not retain order.

## Tuples
What is the major difference between tuples and lists

The major difference between tuples and lists is that tuples are immutable while lists are mutable.

How do you create a tuple?

Constructed with () with commas separating each element

In [43]:
t = (1,2,3)

## Sets
What is unique about a set?

Sets are an unordered collection of unique elements

Use a set to find the unique values of the list below

In [37]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [38]:
# Answer before running cell
2 > 3

False

In [39]:
# Answer before running cell
3 <= 2

False

In [40]:
# Answer before running cell
4**0.5 !=2

False

Final Question: What is the boolean output of the cell block below?

In [41]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great job on your first assessment!